# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
logs/server.log

# testing
/coverage

public/admin-assets/js/app-*
public/admin-assets/js/vendor-*
public/admin-assets/css/bundle-*
public/admin/index.html
public/content/*
!public/content/404.svg
!public/content/*.md
theme/dist/*
theme/assets/js/app-*
theme/assets/js/theme-*
theme/assets/css/bundle-*
theme/assets/index.html
theme/assets/sw.js
theme/assets/workbox-*.js
logs/*
*.zip
debug.log
*.map

.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
